@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*
{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.container{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .slide{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;

        &.slide1{
            background:url(../../component-image-comparision/images/img1.jpg);
            background-attachment: fixed;
            background-position: center;
        }

        &.slide2{
            background:url(../../component-image-comparision/images/img2.jpg);
            background-attachment: fixed;
            background-position: center;
            left:50%;
        }
    }
}