<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <title>Component Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../bundles/parallax-background/parallax-background.css">
  </head>
  <body>
    <section class="parallax-background">
      <img src="http://bluebaney.com/me/_resources/parallax-background/1.png" data-speed="-5" class="layer" />
        <img src="http://bluebaney.com/me/_resources/parallax-background/2.png" data-speed="5" class="layer" />
        <img src="http://bluebaney.com/me/_resources/parallax-background/3.png" data-speed="2" class="layer" />
        <img src="http://bluebaney.com/me/_resources/parallax-background/4.png" data-speed="6" class="layer" />
        <img src="http://bluebaney.com/me/_resources/parallax-background/5.png" data-speed="8" class="layer" />
        <img src="http://bluebaney.com/me/_resources/parallax-background/6.png" data-speed="-2" class="layer" />
        <img src="http://bluebaney.com/me/_resources/parallax-background/7.png" data-speed="4" class="layer" />
        <img src="http://bluebaney.com/me/_resources/parallax-background/8.png" data-speed="-9" class="layer" />
        <img src="http://bluebaney.com/me/_resources/parallax-background/9.png" data-speed="6" class="layer" />
        <img src="http://bluebaney.com/me/_resources/parallax-background/10.png" data-speed="-7" class="layer" />
        <img src="http://bluebaney.com/me/_resources/parallax-background/11.png" data-speed="-5" class="layer" />
        <img src="http://bluebaney.com/me/_resources/parallax-background/12.png" data-speed="5" class="layer" />
      <h2 data-speed="2" class="layer">Parallax</h2>
    </section>
    <script src="../bundles/bundle.js"></script>
  </body>
</html>