<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <title>Component Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../bundles/layouts-masonry/layouts-masonry.css">
  </head>
  <body>
    <div class="container">
        <div class="box">
            <div class="content">
                <img src="images/1.svg" alt="">
                <p>
                    Wash hands with soap and water after touching
                </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <img src="images/2.svg" alt="">
                <p>
                    Wash hands with soap and water after touching
                </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <img src="images/3.svg" alt="">
                <p>
                    Wash hands with soap and water after touching
                </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <img src="images/4.svg" alt="">
                <p>
                    Wash hands with soap and water after touching
                </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <img src="images/5.svg" alt="">
                <p>
                    Wash hands with soap and water after touching
                </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <img src="images/6.svg" alt="">
                <p>
                    Wash hands with soap and water after touching
                </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <img src="images/7.svg" alt="">
                <p>
                    Wash hands with soap and water after touching
                </p>
            </div>
        </div>

    </div>

  <script src="../bundles/bundle.js"></script>
  </body>
</html>