@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*
{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222222;
}
.container{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-template-rows: minmax(100px,auto);
    margin:40px;
    grid-auto-flow: dense;
    grid-gap:10px;
    .box{
        background: #333333;
        padding: 20px;
        display: grid;
        font-size: 20px;
        place-items: center;
        text-align: center;
        color:#ffffff;
        transition:0.5s;

        &:hover{
            background: #e91e63;
        }
        &:nth-child(1){
            grid-column: span 2;
            grid-row: span 1;
        }
        &:nth-child(2){
            grid-column: span 1;
            grid-row: span 2;
        }
        &:nth-child(4){
            grid-column: span 1;
            grid-row: span 2;
        }
        &:nth-child(5){
            grid-column: span 3;
            grid-row: span 1;
        }

        .content{
            img{
                position: relative;
                max-width: 100px;
                height: auto;
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width:991px){
    .container{
        grid-template-columns: repeat(auto-fill,minmax(50%,1fr));
        grid-template-rows: minmax(auto,auto);

        .box{
            grid-column: unset !important;
            grid-row: unset im !important;
        }
    }
}