<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <title>Component Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../bundles/popup-newsletter/popup-newsletter.css">
  </head>
  <body>
      <a href="#" class="btn btn-subscribe">Subscribe Us</a>
      <div id="popup">
          <div class="content">
              <img src="email.png" alt="">
              <h2>Join Our Newsletter</h2>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the.
              </p>
              <div class="inputBox">
                  <input type="email" placeholder="Enter Email">
              </div>
              <div class="inputBox">
                <input type="submit" value="Sign Up" class="btn">
            </div>

          </div>
          <a href="" class="close"><img src="close.png" alt="">X</a>
      </div>
  <script src="../bundles/bundle.js"></script>
  </body>
</html>