<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <title>Component Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../bundles/component-menu-layer/component-menu-layer.css">
  </head>
  <body>
      <section>
          <h2>Curtain Layer Menu</h2>
      </section>
      <div class="toggle"></div>
      <section class="navigation">
        <span style="--i:0;"></span>
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
        <ul>
            <li> <a href="#">Home</a></li>
            <li> <a href="#">About</a></li>
            <li> <a href="#">Team</a></li>
            <li> <a href="#">Contact</a></li>
        </ul>
      </section>
  <script src="../bundles/bundle.js"></script>
  </body>
</html>