@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*
{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
}
a{
    position: relative;
    display: inline-block;
    padding:15px 30px;
    border:2px solid #111111;
    text-transform: uppercase;
    color:#111111;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    &:hover{
        &::before{
            transform:scaleY(0);
        }

        &::after{
            transform:scaleX(0);
        }
    }

    &:before{
        content:'';
        position: absolute;
        top:6px;
        left:-2px;
        width: calc(100% + 4px);
        height: calc(100% - 12px);
        background:#ffffff;
        transition:0.5s ease-in-out;
        transform:scaleY(1);
        transition-delay: 0.5s;
    }

    &:after{
        content:'';
        position: absolute;
        top:-2px;
        left:6px;
        height: calc(100% + 4px);
        width: calc(100% - 12px);
        background:#ffffff;
        transition:0.5s ease-in-out;
        transform:scaleX(1);
    }

    span{
        position: relative;
        z-index: 3;
    }
}