<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Resposive Footer Using CSS Grid</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
 <link rel="stylesheet" href="style.css">
</head>
<body>
    <footer>
        <div class="container">
          <div class="sec aboutus">
            <h2>About Us</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <ul class="sci">
              <li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="sec quicklinks">
              <h2>Quick Links</h2>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Term & Conditions</a></li>
                <li><a href="#">Contract</a></li>
            </ul>
          </div>
          <div class="sec quicklinks">
            <h2>Shop</h2>
          <ul>
              <li><a href="#">Men</a></li>
              <li><a href="#">Women</a></li>
              <li><a href="#">Children</a></li>
              <li><a href="#">Shoes</a></li>
              <li><a href="#">Cloathing</a></li>
              <li><a href="#">Watch</a></li>
          </ul>
        </div>
        <div class="sec contact">
            <h2>Contact Us</h2>
          <ul class="info">
             <li>
                 <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                 <span>111 Main Street <br>
                 Hangdong, Chiangmai, Thailand
                </span>
             </li>
             <li>
                <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                <p><a href="tel:+xxxxxxxxxxx">+x xxx xxx xxxx</a><br>
                    <a href="tel:+xxxxxxxxxxx">+x xxx xxx xxxx</a>
                </p>
            </li>
            <li>
                <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                <p><a href="mailto:knowmore@mail.com">knowmore@mail.com</a>
                </p>
            </li>
          </ul>
        </div>
        </div>
        <div class="copyrightText">
            <p>Copyright Bluebaney.com. All Rights Reserved.</p>
        </div>
      </footer>
      <div class="copyrightText">
          <p>Copyright Bluebaney.com. All Rights Reserved.</p>
      </div>
</body>
</html>