<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <title>Scroll To See Magic Again</title>
 <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="banner">
        <video src="video.mp4" autoplay muted loop></video>
    </section>
    <div class="container">
        <h2>Scroll To See Magic Again</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
    <script type="text/javascript">
        const banner = document.querySelector('.banner');
        window.addEventListener('scroll', function () {
            const value = 800-window.scrollY;
            banner.style.clipPath = "circle("+value+"px at center center)";
        })
    </script>
</body>
</html>