<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <title>Component Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../bundles/layouts-masonry-grid/layouts-masonry-grid.css">
  </head>
  <body>
      <div class="container">
          <div class="box">
              <img src="images/font-1.jpg" alt="">
              <h2>Title Font</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis luctus purus a ornare.
              </p>
          </div>
          <div class="box">
            <img src="images/font-2.jpg" alt="">
            <h2>Title Font</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis luctus purus a ornare.
              </p>
        </div>
        <div class="box">
            <img src="images/font-3.jpg" alt="">
            <h2>Title Font</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis luctus purus a ornare.
              </p>
        </div>
        <div class="box">
            <img src="images/font-4.jpg" alt="">
            <h2>Title Font</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis luctus purus a ornare.
              </p>
        </div>
        <div class="box">
            <img src="images/font-5.jpg" alt="">
            <h2>Title Font</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis luctus purus a ornare.
              </p>
        </div>
        <div class="box">
            <img src="images/font-6.jpg" alt="">
            <h2>Title Font</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis luctus purus a ornare.
              </p>
        </div>
        <div class="box">
            <img src="images/font-7.jpg" alt="">
            <h2>Title Font</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis luctus purus a ornare.
              </p>
        </div>
        <div class="box">
            <img src="images/font-8.jpg" alt="">
            <h2>Title Font</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis luctus purus a ornare.
              </p>
        </div>
        <div class="box">
            <img src="images/font-9.jpg" alt="">
            <h2>Title Font</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis luctus purus a ornare.
              </p>
        </div>
        <div class="box">
            <img src="images/font-10.jpg" alt="">
            <h2>Title Font</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis luctus purus a ornare.
              </p>
        </div>
      </div>


  <script src="../bundles/bundle.js"></script>
  </body>
</html>