<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <title>Component Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../bundles/effect-bg-fix-scrolling/effect-bg-fix-scrolling.css">
  </head>
  <body>
      <section class="sec1"></section>
      <section class="sec2"></section>
      <section class="sec3"></section>
      <section class="sec4"></section>
      <section class="sec5"></section>
  <script src="../bundles/bundle.js"></script>
  </body>
</html>