@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*
{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
h1{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
    color:transparent;
    width: fit-content;

    &:before{
        content: attr(data-text);
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height: 100%;
        color: #000000;
        overflow: hidden;
        border-right: 1px solid #000000;
        animation:type 10s steps(30);
        white-space: nowrap;
    }
}

@keyframes type{
    0%{
        width:0;
    }
    50%{
        width:100%;
    }
    100%{
        width:0;
    }
}
