<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <title>Component Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../bundles/component-ratting-bar/component-ratting-bar.css">
  </head>
  <body>
    <div class="container">
        <h2>5 Star Skills Ratting Bar</h2>
        <div class="skills">
            <h3 class="name">Html</h3>
            <div class="rating">
                <input type="radio" name="html">
                <input type="radio" name="html">
                <input type="radio" name="html">
                <input type="radio" name="html">
                <input type="radio" name="html">
                <input type="radio" name="html">
                <input type="radio" name="html">
                <input type="radio" name="html">
                <input type="radio" name="html">
                <input type="radio" name="html">
            </div>
        </div>

        <div class="skills">
            <h3 class="name">Css</h3>
            <div class="rating">
                <input type="radio" name="css">
                <input type="radio" name="css">
                <input type="radio" name="css">
                <input type="radio" name="css">
                <input type="radio" name="css">
                <input type="radio" name="css">
                <input type="radio" name="css">
                <input type="radio" name="css">
                <input type="radio" name="css">
                <input type="radio" name="css">
            </div>
        </div>

        <div class="skills">
            <h3 class="name">JavaScript</h3>
            <div class="rating">
                <input type="radio" name="js">
                <input type="radio" name="js">
                <input type="radio" name="js">
                <input type="radio" name="js">
                <input type="radio" name="js">
                <input type="radio" name="js">
                <input type="radio" name="js">
                <input type="radio" name="js">
                <input type="radio" name="js">
                <input type="radio" name="js">
            </div>
        </div>
    </div>

  <script src="../bundles/bundle.js"></script>
  </body>
</html>